@charset "utf-8";
/* CSS Document */
.big_blocks{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.centered_word{
    margin: 0 auto;
   text-align: center;
   vertical-align: middle;
   line-height: 700px
}

/*V U L    D E     P I X E L S    Z E L F     I N ! ! ! !
/* Let op: getal en "px" moeten aan elkaar, dus bv. 1000px (niet 1000 px)




/* Smartphones (portrait). Vertel hier ook welke je gekozen hebt----------- */
@media only screen
and (min-width : 0px)
and (max-width : 480px)
{
/* Styles */

  .massiveBod{
    background-color: green;
  }

}


/* Tablet (portrait). Vertel hier ook welke je gekozen hebt ----------- */
@media only screen
and (min-width : 480px)
and (max-width :  1000px)
{
/* Styles */
  .massiveBod{
    background-color: blue;
  }


}

/* Laptop/PC. Vertel hier ook welke je gekozen hebt ----------- */
@media only screen
and (min-width : 1000px)
{
/* Styles */
  .massiveBod{
    background-color: red;
  }



}
